.card-container {
  display: flex;
  background: #eee;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.card-item {
  flex: 1 1 33%;
  position: relative;
  /* align-self: center; */
}
.card-img {
  padding: 0.6%;
  /* height: auto; */
  /* max-height: 290px; Acesta niveleaza zona pentru ca toate img sa fie la fel ca inaltime */
  /* width: auto; */
  /* max-width: 350px; */
  /* object-fit: fill; */
}
.card-item:hover {
  /* box-shadow: 10px 10px 5px grey; */
  transform: scale(1.03, 1.03);
}
.card-text {
  bottom: 1%;
  width: 100%;
  text-align: center;
  font-style: oblique;
  font-size: 2vw !important;
  color: darkcyan !important;
  position: absolute;
}
