.serv-container {
  position: relative;
  display: flex;
  /* flex: 1; */
  background: #eee;
  flex-wrap: nowrap;
  box-sizing: content-box;
  /* height: 600px; */
  /* flex: 1 100%; */
  justify-content: space-between;
}

.serv-list {
  /* width: 40%; */
  /* margin: 20px 0 0 50px; */
  flex: 1 1 450px;
  padding: 15px 35px;
  width: 40vw;
  height: auto;
}

.serv-img {
  /* position: absolute; */
  /* width: auto; */
  /* flex: 1 2 650px; */
  /* height: 300px; */
  /* background-size: cover; */
  /* height: 100%; */
  /* width: 100%; */
  /* max-height: 300px; */
  width: 40vw;
  /* height: auto; */
  left: 0;
  /* align-self: flex-end; */
}

/* .img-fluid {
  max-width: 100%;
  height: auto;
} */
