.slick-slide h4 {
  position: absolute;
  /* bottom: 0; */
  /* font-size: 1.5vw; */
  margin: 0;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
}

.slick-slide {
  position: relative;
  /* margin: 5px; */
}

.slick-track {
  /* opacity: 0.8; */
  margin-top: 10%;
}

.slick-prev {
  height: 30px;
}
